body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    background-color: rgb(161, 105, 0);
    color: white;
}

a:hover {
    text-decoration: underline;
    color: lightblue;
    transition: 0.25s;
}

a {
    text-decoration: none;
    color: white;
    transition: 0.25s;
}