body {
    font-family: sans-serif;
    color: #001ad6;
    background-color: rgb(84, 184, 255);
    padding: 0px;
}

#header {
    padding: 10px;
    margin: 0px;
}

.item {
    flex: 1;
    padding: 20px;
}

.item:first-child {
    margin-right: 20px;
}

#content {
    display: flex;
}