body {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    padding: 10px;
    background-color: rgb(146, 0, 0);
    color: gold;
}

a:hover {
    text-decoration: underline;
    color: rgb(146, 0, 0);
    transition: 0.25s;
    cursor: pointer;
    background-color: gold;
    padding: 10px;
    margin-left: 0px;
    margin-right: 0px;
    border: 1px solid gold;
    border-radius: 10px;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: gold;
    transition: 0.25s;
    margin: 11px;
}

.content {
    display: none;
    padding: 10px;
    margin: 20px;
    border: 3px solid gold;
    /* width:; */
    border-radius: 10px;
}

img {
    border-radius: 10px;
    margin: 25px;
    max-height: 200px;
    text-align: center;
}

table,
th,
td {
    width: 100%;
    border: 1px solid gold;
    border-collapse: collapse;
}

th,
td {
    padding: 15px;
    width: 33.333333334%;
}

#flex {
    display: flex;
}

.item {
    flex: 1;
}

#imgCell {
    border: none;
    margin: 0px;
}